<!DOCTYPE html>
<html lang="en">
<head>
  <title>StudyMate Pro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li> 
        <li><a href="#">Upload</a></li> 
        <li><a href="#">Username/Guest</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="signin.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="signup.html"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center sidebar w-75">    
  <div class="row content">
    <div class="col-sm-2 sidenav"> 
      <p><a href="#">Universities</a></p>
      <p><a href="#">Professors</a></p>
      <p><a href="#">Schools</a></p>
      <p><a href="#">Courses</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      </p>
      <hr>
      <h3 id="content-name">content name</h3>
      <p class="content-area">Lorem ipsum...</p>
    </div> 
  </div>
</div>

<footer class="footer py-3 bg-light fixed-bottom">
    <div class="container text-center">
        <span class="text-muted">hackRU   2023 | </span>
        <span class="text-muted">About |</span>
        <span class="text-muted">Contact</span>
    </div>
</footer>
</body>
</html>
